<div *ngIf="loaded">

  <h2>Album #{{album.id}}</h2>

  <p><strong>User ID:</strong> {{album.userId}}</p>


  <div *ngIf="!isEditing">
    <h3>{{album.title}}</h3>
    <button (click)="toggleEdit()">Edit</button>
  </div>

  <div *ngIf="isEditing">
    <input [(ngModel)]="editTitle">
    <button (click)="saveTitle()">Save</button>
  </div>

  <br>

  <a [routerLink]="['/albums', album.id, 'photos']">
    View Photos
  </a>

  <br><br>

  <a routerLink="/albums">
    Back to Albums
  </a>

</div>

<div *ngIf="!loaded">
  Loading album...
</div>
